#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Sample xkd/windbg Debugger Extension"

#define VER_INTERNALNAME_STR        "DebuggerExtension.DLL"
#define VER_ORIGINALFILENAME_STR    "DebuggerExtension.DLL"

#include "common.ver"
